@import "../../styles/colors.scss";

.surveyListWrap {
    min-height: 100vh;

    background: $disabledBackground;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .contentWrap {
        padding: 40px;

        width: 100%;
        max-width: 800px;

        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-self: center;

        h2 {
            margin-bottom: 24px;

            color: $primaryDark;

            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}


@media only screen and (max-width: 600px) {
    .surveyListWrap {
        
        .contentWrap {
    
            ul {
                flex-direction: column;
            }
        }
    }
}
