@import '../../../../styles/colors.scss';

hgroup {
  margin-bottom: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;

  .calendarWrap {
    margin-right: 16px;

    width: 80px;
  }

  h2 {
    font-size: 28px;
    font-weight: bold;

    color: $primaryDark;
  }
}

.answersList {
  list-style: none;
  
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: 24px;
}

@media only screen and (max-width: 600px) {
  hgroup {
    .calendarWrap {
      width: 60px;
    }

    h2 {
      font-size: 20px;
    }
  }
}
