@import "../../../../styles/colors.scss";

.surveyItemWrap {
    margin-bottom: 24px;

    height: 250px;

    border-radius: 8px;
    box-shadow: 0px 1px 3px -1px $black;

    background: $white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 48%;

    .surveyContent {
        position: relative;

        border-radius: 8px 8px 0px 0px;

        background-repeat: no-repeat;
        background-image: 
            linear-gradient(to right, rgba($primaryLight, 0.1), rgba($primaryLight, 0.1)), 
            linear-gradient(to right, $white, $white);
        background-position: 0 0, 54 0;
        background-size: 54px 100%, 100% 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;

        .iconWrap {
            position: absolute;

            top: -10px;
            right: -10px;
        }

        .calendarWrap {
            margin-left: 24px;

            align-self: center;
        }

        p {
            margin: 24px;

            font-size: 18px;

            align-self: center;
            flex-grow: 1;
        }
    }

    footer {
        
        border-radius: 0px 0px 8px 8px;
        
        background: $primary;
        
        cursor: pointer;

        &:hover {
            background: $primaryDark;
        }

        a {
            color: $white;
    
            line-height: 40px;
            text-transform: lowercase;
            text-align: center;
            text-decoration: none;

            display: block;
        }
    }
}

@media only screen and (max-width: 600px) {
    .surveyItemWrap {
        flex-basis: 100%;
    }
}
