@import "./colors.scss";

* {
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    box-sizing: border-box;
}

body {
    background: $background;
}

input[type="password"],
input[type="email"],
input[type="text"] {
    padding: 0 40px 0 8px;

    line-height: 40px;

    border: 1px solid $primaryLight;
    border-radius: 4px;

    &:focus {
        outline: $primaryLight;
    }
}

button {
    font-size: 16px;
    line-height: 60px;

    color: $white;

    background: $primary;

    border: none;
    border-radius: 8px;

    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }

    &:disabled {
        color: $disabledColor;
        
        background: $disabledBackground;

        &:hover {
            opacity: 1;

            cursor: default;
        }
    }
}
