@import "../../styles/colors.scss";

.headerWrap {
    background: $primary;

    border-top: 40px solid $primaryDark;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    img {
        margin-top: 40px;
    }

    h1 {
        margin: 16px 0px 40px;

        color: $white;
    }
}

@media only screen and (max-width: 600px) {
    .headerWrap {
        border-top-width: 20px;
    }
}